@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@layer mantine;

:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root,
* {
  font-family: 'Poppins', sans-serif;
}

.mantine-select-option:hover {
  background-color: #0057E9 !important;
}

.mantine-Pagination-control[data-active="true"] {
  background-color: #313a49 !important;
  color: white !important;
}

.mantine-tab-option:hover {
  background-color: #313a49 !important;
}

.mantine-control-number:hover{
  background-color: #0057E9 !important;
}