{% extends "base.html" %}

{% block title %}Cold Leads{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-5">Cold Leads</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Profile Link</th>
                <th>Contact Number</th>
                <th>Last Communication</th>
                <th>By Account</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in page_obj %}
                <tr>
                    <td>{{ profile.name }}</td>
                    <td><a  href="{{ profile.link }}">{{ profile.link }}</a></td>
                    <td>{{ profile.contact_number }}</td>
                    <td>{{ profile.last_communication |date:"Y-m-d H:i" }}</td> <!-- Format date as needed -->
                    <td>{{ profile.account_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    
    <!-- Pagination Controls -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            
            {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endfor %}
            
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
